body {
  background-color: rgba(100, 200, 80, 0.4);
}

.jan-container {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.day-card {
  border: 3px solid black;
  margin: 5px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
}

h2 {
  border: 2px solid orange;
  margin: 5px;
  text-align: center;
}

p {
  border: 2px solid blue;
  margin: 5px;
}

ul {
  border: 2px solid green;
  margin: 5px;
}

img {
  border: 2px solid red;
  size: 80%;
}

.nav-container {
  display: flex;
}

.nav {
  margin: 10px;
  list-style: none;
}

button {
  margin: 10%;
}

button:hover {
  background-color: red;
}

.hiddenText {
  text-align: center;
  margin-top: 5%;
}

#jan6Card {
  display: none;
}

textarea {
  margin: 5%;
  height: 20%;
}

@media all and (max-width: 699px) {
  .jan-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .day-card {
    width: 80%;
  }
}
